.card-price {
    font-size: 1.3rem;
    color: #000; /* Black color */
    font-weight: 600;
    margin-bottom: 10px;
  }
  
body *{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
}
  
  .price-value {
    /* color:  */
    font-size: 1.2rem;
    font-weight: bold;
  }
.load-btn{
  
}

.filter-btn-container{
display: flex;
justify-content: space-around;
width: 40%;
margin-left: 50%;
transform: translateX(-50%);
}
.filter-btn-container button{
  background-color: transparent;
  font-size: 1rem;
  padding: 0.2rem 1rem;
  border-radius: 5px; 
  border: 1px solid rgb(186, 186, 186); 
}

  .product-content{
    min-height: 11rem;
  }
.about-txt{
  font-size: 1.2rem;
  width: 50vw;
  margin-top: 2rem;
  font-style: italic;
}
  .card-flex{
    display: flex;
    justify-content: space-between;
    margin: 1rem 0rem;
  }
  .card-flex span{
    border-radius: 5px;
    font-size: 1rem;
    border: 1px solid purple;
    padding: 0.25rem 0.75rem;
    transform: translateY(1rem);
  }
  .search-input{
    padding: 0;
    width: 60%;
  }
.nav-logo{
  width: 5rem;
}
.testimonials-card{
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 2px 5px 5px rgba(211, 211, 211, 0.301);
  padding: 1rem;
  display: flex;
  margin: 1rem;
  width: 15rem;
  height:25rem;
  vertical-align: top;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.testimonials-card img{
  width: 100%;

}
.testimonials-container{
padding-top: 2rem;
width: 90vw;
text-align: center;
display: flex;
flex-direction: row;
flex-wrap: wrap; /* This allows items to wrap onto a new line if they don't fit */

}
.checkbox-name{
  font-size: 0.85rem;
  transform: translateY(0.1rem);
}
  .search-btn{
    height: 3rem;
    background-color: #5c805957 !important;
  }
  .filter-heading{
    font-size: 1.25rem;
    margin-top: -3rem;
    margin-left: 1rem;
  }
  .filter-heading:hover{
    cursor: pointer;
  }
  .filter-list{
    transform: translateX(-3rem);
    width: 120%;
  }
  .orders-header{
    margin-top: 3rem;
    font-size: 2rem;
  }
  .download-btn{
    background-color: #5c8059;
    color: white;
    font-weight: 500;
    margin-top: 1rem;
    font-size: 1.1rem;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    border: none;
  }
  .highlight-card{
    width: 80%;
    margin-left: 10%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 2px lightgray;
    text-align: center;
    padding: 0.5rem 1rem;
  }
  .highlit-header{
    font-size: 1.5rem;
    font-weight: 600;
    margin-left: 8%;
  }
  .highlight-content-left{
    display: inline-block;
    width: 40%;
  }
  .highlight-content-right{
    display: inline-block;
    width: 55%;
    font-size: 1.25rem;
    text-align: left;
    vertical-align: top;
    padding-top: 2rem;
  }
  @media only screen and (max-width: 700px) {
    .testimonials-card{
      width: 90vw;
      height: auto;
    }
      .highlight-card{
      width: 95%;
      margin-left: 2.5%;
      background-color: white;
      border-radius: 10px;
      box-shadow: 5px 5px 5px 2px lightgray;
      text-align: center;
      padding: 0.5rem 1rem;
    }
    .highlight-content-left{
      display: block;
      width: 100%;
    }
    .highlight-content-right{
      display: block;
      width: 100%;
      font-size: 1.25rem;
      text-align: left;
      padding-top: 2rem;
    }
      .filter-btn-container{
      width: 100%;
      }
      .filter-btn-container button{
        font-size: 0.85rem;
      }

      .filter-heading{
        font-size: 1.25rem;
        margin-top: 0rem;
        margin-left: 1rem;
      }
    .search-input{
        padding: 0;
        width: 90%;
        font-size: 0.8rem;
      }

      .search-input label{
        font-size: 0.8rem;
      }

      .search-input div{
        height: 3rem;
        margin-top: 0.5rem;
      }
    
    
      .search-btn{
        height: 3rem;
        width: 90%;
      }
      .nav-logo{
        width: 4rem;
      }

      .about-txt{
        font-size: 1rem;
        width: 90vw;
        margin-top: 1.5rem;
      }
}